.card {
  font-size: 300px;
  height: 1.4em;
  width: 1em;
  border-radius: .04em;
  padding: .05em;
  background-color: white;
  position: relative;
  z-index: 1;
  display: inline-block;

  &.landscape {
    height: 1em;
    width: 1.4em;
  }

  > .mc, > .tags {
    font-size: .15em;
    margin: -.15em;
    position: absolute;
  }

  &.back {
    background: black url('./assets/texture/card-back.jpg') no-repeat center/75%;
  }

  .tags {
    right: 0;
    padding-right: .5em;
    padding-top: .01em;
    .tag {
      font-size: .9em;
      margin-right: .07em;
      vertical-align: top;
    }
  }

  .set {
    font-size: .038em;
    position: absolute;
    display: block;
    left: .55em;
    bottom: 3em;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    border-radius: 50%;
    border: .05em solid black;
    box-shadow: 0 0 0 .1em white, 0 .05em .05em white inset;
    color: white;
    text-shadow: 0 .05em 0 black;

    &:after {
      font-size: .9em;
    }

    &.corporate {
      background-color: red;

      &:after {
        content: '\25B2';
      }
    }
  }
}
