$title-font: 'Prototype', sans-serif;

.card.corp {
  .tags {
    margin-right: .34em;
    padding-right: 0;
    padding-top: .11em;
    padding-left: .28em;
    background: url('./assets/texture/tag-shelf.svg') no-repeat top left/2.4em 1.1em;
    overflow: hidden;
    border-top-right-radius: .73em;
  }
}

.corp-body {
  border-radius: .08em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  border: .003em solid black;
  box-shadow: 0 0 0 .016em #999, 0 0 0 .019em #000;
  background: repeating-linear-gradient(0, #ddd, #fff 15%, #fff 25%, #ddd 40%, #ddd 55%);

  &:before {
    content: 'CORPORATION';
    font-size: .035em;
    font-family: $title-font;
    margin: -.55em auto 0;
    background: #FDBC2D;
    padding: .05em 1em;
    border: 1px solid black;
    letter-spacing: .2em;
    border-bottom-left-radius: 1.5em 3em;
    border-bottom-right-radius: 1.5em 3em;
    box-shadow: 0 .1em .05em rgba(255,255,255,.5) inset, 0 -.1em .05em hsla(41,98%,8%,.5) inset;
  }

  .title {
    font-family: $title-font;
    font-size: .1em;
    text-align: center;

    &.unmi {
      font-size: .05em;
      text-transform: uppercase;
      margin: 0.3em 1em -12.5em 1.5em;
      padding: 1em;
      background: dodgerblue;
      color: white;
      width: 7em;
      font-family: sans-serif;
      text-align: center;
      text-justify: distribute;
      box-shadow: .3em .5em .5em rgba(0,0,0,.5);
      position: relative;

      &:before {
        content: '°';
        font-size: 18em;
        display: block;
        text-align: center;
        margin: -.21em -.2em -.65em;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -.7em;
        border-bottom: .7em solid transparent;
        border-left: 3.5em solid dodgerblue;
        border-right: 3.5em solid dodgerblue;
      }
    }
  }

  .flavor {
    font-size: .045em;
    font-style: italic;
    text-align: center;
    line-height: .9;
    width: 100%;
    margin: 0 0 .3em;
    padding: 0 .3em .3em;
  }

  .body {
    height: 100%;
    font-size: .05em;
    padding: .5em;

    .description {
      font-size: .8em;

      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }

    .gutter > * {
      margin-left: .5em;
      &:first-of-type {
        margin-left: inherit;
      }
    }

    .effect {
      border: .2em solid #444;
      background: linear-gradient(120deg, #eee 0%, #bbb 10%, #eee 30%, #bbb 50%, #bbb 70%, #eee 90%, #999 100%);
      padding: .2em;
      text-align: center;

      .resources, .production {
        font-size: 1.7em;
      }

      .production {
        height: fit-content;
        align-self: center;
      }

      .effect-title {
        font-size: .8em;
        display: inline-block;
        text-align: center;
        font-family: $title-font;
        text-transform: uppercase;
        box-shadow: 0 .2em 0 0 rgba(255,255,255,.2) inset, 0 .1em 0 0 rgba(0,0,0,.5) inset, 0 -.2em .1em 0 rgba(0,0,0,.7) inset;
        border: .1em solid #999;
        padding: .1em 3em;
        background:
          linear-gradient(to right, #315591 0%, #3d9dd7 20%, #3bb0e5 40%, #3bb0e5 60%, #3d9dd7 80%, #315591 100%);
      }
    }
  }
}
