$arrowSize: 12px;

.tooltip {
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  border-radius: 6px;
  background-color: black;
  color: white;
  transition: opacity .5s ease;
  position: absolute;
  font: 12px sans-serif;
  padding: 1em;
  text-align: center;
  width: auto;
  margin: 0!important;

  &.shown {
    opacity: .8;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: inherit;
    height: $arrowSize;
    width: $arrowSize;
    transform: rotate(45deg);
  }

  &.bottom:before {
    top: -$arrowSize / 2;
    left: calc(50% - #{$arrowSize / 2});
  }
  &.top:before {
    bottom: -$arrowSize / 2;
    left: calc(50% - #{$arrowSize / 2}x);
  }
  &.left:before {
    top: calc(50% - #{$arrowSize / 2});
    right: -$arrowSize / 2;
  }
  &.right:before {
    top: calc(50% - #{$arrowSize / 2});
    left: -$arrowSize / 2;
  }

  &.left-edge:before {
    left: $arrowSize;
  }
  &.right-edge:before {
    left: calc(100% - #{$arrowSize / 2});
  }
  &.top-edge:before {
    top: $arrowSize;
  }
  &.right-edge:before {
    top: calc(100% - #{$arrowSize / 2});
  }
}