$title-font: 'Prototype', sans-serif;

.board {
  width: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #000 url('../assets/texture/bg.png');
  cursor: grab;

  &.dragging {
    cursor: grabbing;
  }
}
