$title-font: 'Prototype', sans-serif;
$hand-height: 40vh;

.drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $hand-height;
  border-top: 4px solid #444;
  background: rgba(187, 187, 187, 0.5);
  transition: transform 0.5s ease, height 0.5s ease;
  cursor: default;
  z-index: 2;
  user-select: none;
  width: 100vw;
  pointer-events: all;

  &.empty {
    height: 20vh;
  }

  &.buy-mode {
    height: #{$hand-height * 2};
  }

  &.collapse {
    transform: translateY(100%);
    z-index: 3;

    .on-deck {
      pointer-events: none;
      opacity: 0;
    }
  }

  .on-deck {
    display: flex;
    flex-direction: column-reverse;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.4));
    position: absolute;
    top: -4px;
    left: 56px;
    transform: translateY(-100%);
    opacity: 1;
    transition: opacity 0.5s ease;

    > div {
      margin-bottom: 8px;

      .param.card {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
        margin-right: -0.5em;
        font-size: 1.5em;
      }
    }
  }

  .cards {
    margin: 0;
    text-align: center;
    padding: 24px 24px 48px;
    max-height: calc(#{$hand-height} - 3px);
    overflow-y: auto;
    position: relative;

    &.buy-mode {
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      padding: 0;
      transition: height 0.3s ease, opacity 0.3s ease, padding-top 0.3s ease,
        padding-bottom 0.3s ease;

      &.show {
        height: #{$hand-height * 2};
        opacity: 1;
        padding: 24px 24px 48px;
      }
    }

    li {
      display: inline-block;
      margin: 2px 2px 13px 2px;
      list-style-type: none;
      position: relative;
      transition: background-color 0.5s ease;
      opacity: 1;
      width: 150px;
      height: 210px;
      background: transparent;
      border-radius: 5px;
      vertical-align: middle;

      &.landscape {
        width: 210px;
        height: 150px;
      }

      &.selected {
        background: rgba(0, 0, 0, 0.25);

        .card-preview {
          cursor: default;
          opacity: 0;
        }
      }

      .card-preview {
        position: static;
        pointer-events: auto;
        user-select: none;
        cursor: pointer;
        margin: 0;
        transition: opacity 0.5s ease;

        &.select > .card {
          box-shadow: 0 0 0 0.02em #b81414;
          top: -0.075em;
        }

        > .card {
          font-size: 150px;
          transition: box-shadow 0.15s ease, transform 0.3s ease, top 0.3s ease;

          &:hover {
            box-shadow: 0 0 0 4px #444, 0 0 10px 4px rgba(0, 0, 0, 0.5);
            transform: scale(1.2);
            z-index: 2;

            & ~ .card-resources {
              z-index: 2;
              transform: translate(-50%, -50%) scale(1.2);
            }
          }
        }
      }

      &.disabled {
        filter: grayscale(75%);
        opacity: 0.5;

        .card-preview {
          cursor: not-allowed;

          > .card:hover {
            box-shadow: none;
            transform: none;
          }
        }
      }
    }
  }

  .button-bar {
    height: 46px;
    opacity: 1;
    border-bottom: 4px solid #444;
    background: rgba(0, 0, 0, 0.4);
    margin-top: -1px;

    & ~ .cards {
      max-height: calc(#{$hand-height} - 46px - 3px);
    }

    &.buy-mode {
      border-top: 4px solid #444;
      margin-top: 0;
    }

    button {
      width: 60%;
    }

    .pill {
      font-family: 'Prototype', sans-serif;
      text-transform: uppercase;
      background: #fff1;
      padding: 0.3em 1em;
      border-radius: 0.5em;
      color: #fff9;
      min-width: 8em;

      .section {
        margin: 0.5em;
      }

      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}
