.card-preview {
  display: block;
  position: fixed;
  top: 1em;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  color: black;
  font-style: normal;
  font-family: initial;
  z-index: 1000;

  > .card {
    font-size: #{'min(30vh, 300px)'};
  }

  &.show {
    opacity: 1;
  }

  // Simplify for the cards in the hand, for better performance
  &.simple {
    .card {
      .header {
        background: #666;
        &:before {
          background: #ccc;
        }
      }

      .production {
        background: #777;
        &:before {
          border-image: none;
          background: #8d6241;
          border-color: #694930;
        }
      }
    }
  }
}
