$title-font: 'Prototype', sans-serif;

.field {
  width: 994px;
  height: 994px;
  background: url('/icons/mars_bg.jpg') center no-repeat;
  background-size: contain;
  border: 7px solid #8B5E36;
  border-radius: 100%;
  text-align: center;
  margin: 50vh auto;
  box-shadow: 0 0 100px rgba(255,255,255,.7);
  user-select: none;

  .tiles {
    margin: 64px -152px 0 -143px;
    position: relative;

    .row {
      margin: -50px 0;
      pointer-events: none;
      height: 151px;

      &.phobos {
        position: absolute;
        top: 10px;
        left: 120px;
        background: url('../assets/texture/phobos.png') center no-repeat;
        background-size: contain;
        padding: 10px 0 10px 20px;
        height: initial;
      }

      &.ganymede {
        position: absolute;
        top: 200px;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
        width: 144px;
        height: 144px;
        padding-left: 10px;

        .text {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        .dot {
          position: absolute;
          top: 135px;
          left: 69px;
          color: white;
          font-size: 25px;

          &:before, &:after {
            content: '';
            border-bottom: 2px solid #ccc;
            height: 0;
            width: 72px;
            display: block;
            position: absolute;
            top: -10px;
          }
          &:before {
            right: -4px;
            transform: rotate(35deg);
          }
          &:after {
            left: -4px;
            transform: rotate(-35deg);
          }
        }

        &:before {
          content: '';
          display: block;
          background: url('../assets/icons/jovian.svg') center no-repeat;
          background-size: contain;
          height: 64px;
          width: 64px;
          position: absolute;
          top: 130px;
          left: -20px;
          border-radius: 100%;
          box-shadow: 0 0 15px rgba(255,255,255,.6);
          filter: grayscale(.4);
        }

        // &:after {
        //   content: '';
        //   display: block;
        //   transform: rotate(45deg);
        //   height: 82px;
        //   width: 82px;
        //   position: absolute;
        //   top: 64px;
        //   left: 30px;
        //   border-style: solid;
        //   border-color: #ccc;
        //   border-width: 0 2px 2px 0;
        // }
      }

      > .tile {
        font-size: 144px;
        margin: 0 -13.5px;

        &.ocean-placed foreignObject { background-image: url('../assets/texture/ocean.png'); }
        &.city-placed foreignObject { background-image: url('../assets/texture/city.png'); }
        &.greenery-placed foreignObject { background-image: url('../assets/texture/greenery.png'); }
        &.capital-placed foreignObject { background-image: url('../assets/texture/capital.png'); }
        &.special-placed.mine foreignObject { background-image: url('../assets/texture/mine.png'); }
        &.special-placed.restricted foreignObject { background-image: url('../assets/texture/restricted.png'); }
        &.special-placed.nuclear foreignObject { background-image: url('../assets/texture/nuclear.png'); }
        &.special-placed.mohole foreignObject { background-image: url('../assets/texture/mohole.png'); }
        &.special-placed.factory foreignObject { background-image: url('../assets/texture/factory.png'); }
        &.special-placed.volcano foreignObject { background-image: url('../assets/texture/volcano.png'); }
        &.special-placed.euro foreignObject { background-image: url('../assets/texture/euro.png'); }
        &.special-placed.mars foreignObject { background-image: url('../assets/texture/mars.png'); }
        &.special-placed.animal foreignObject { background-image: url('../assets/texture/animal.png'); }

        foreignObject {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          & > div {
            padding-top: 25px;

            > .resource {
              opacity: .85;
              font-size: 120px;
            }

            > .tile {
              display: block;
              margin: 25px auto -35px;
              padding-left: 5px;

              + .resource {
                margin-top: 0;
              }

              &.ocean {
                margin-top: 150px;
              }
            }
          }
        }

        .base {
          stroke: #ccc;
        }

        .rewards {
          margin-bottom: -87px;

          .resources {
            font-size: 88px;
            margin: 0 0 -46px;
            padding: 0;
          }
        }

        .text {
          font-family: $title-font;
          font-size: 53px;
        }

        img.city {
          margin-top: -65px;
          margin-bottom: -66px;

          & + .text {
            margin-top: -60px;
          }
        }
      }
    }
  }
}
