$title-font: 'Prototype', sans-serif;

.field {
  width: 994px;
  height: 994px;
  background: url('/icons/mars_bg.jpg') center no-repeat;
  background-size: contain;
  border: 7px solid #8b5e36;
  border-radius: 100%;
  text-align: center;
  margin: 50vh auto;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.7);
  user-select: none;
  position: relative;

  &.venus:after {
    content: '';
    display: block;
    width: 1200px;
    height: 1200px;
    background: url('/icons/venus_bg.png') top no-repeat;
    margin: 100px calc(994px / 2 - 1200px / 2) 0;
    border-radius: 100%;
    border: 7px solid #ecede6;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
  }

  .tiles {
    margin: 4em -9.5em 0 -8.9em;
    position: relative;

    .row {
      margin: -3.125em 0;
      pointer-events: none;
      height: 9.44em;

      &.phobos {
        position: absolute;
        top: 10px;
        left: 120px;
        background: url('../assets/texture/phobos.png') top center no-repeat;
        background-size: contain;
        padding: 10px 0 10px 20px;
        height: initial;
      }

      &.ganymede {
        position: absolute;
        top: 200px;
        left: 0;
        background: radial-gradient(
          ellipse at center,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 60%
        );
        width: 144px;
        height: 144px;
        padding-left: 10px;

        .text {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        .dot {
          position: absolute;
          top: 135px;
          left: 69px;
          color: white;
          font-size: 25px;

          &:before,
          &:after {
            content: '';
            border-bottom: 2px solid #ccc;
            height: 0;
            width: 72px;
            display: block;
            position: absolute;
            top: -10px;
          }
          &:before {
            right: -4px;
            transform: rotate(35deg);
          }
          &:after {
            left: -4px;
            transform: rotate(-35deg);
          }
        }

        &:before {
          content: '';
          display: block;
          background: url('../assets/icons/jovian.svg') center no-repeat;
          background-size: contain;
          height: 64px;
          width: 64px;
          position: absolute;
          top: 130px;
          left: -20px;
          border-radius: 100%;
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
          filter: grayscale(0.4);
        }
      }

      &.torus {
        position: absolute;
        top: 10px;
        left: 1020px;
        background: radial-gradient(
          ellipse at center,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 60%
        );
        width: 144px;
        height: 144px;
        padding-left: 10px;

        .dot {
          position: absolute;
          background: url('../assets/texture/torus.png') center no-repeat;
          top: -29px;
          left: -66px;
          color: transparent;
          width: 90px;
          height: 90px;

          &:before,
          &:after {
            content: '';
            border-bottom: 2px solid #ccc;
            height: 0;
            width: 72px;
            display: block;
            position: absolute;
            top: -10px;
          }
          &:before {
            left: 70px;
            top: 47px;
            transform: rotate(-25deg);
          }
          &:after {
            left: 41px;
            top: 98px;
            transform: rotate(-95deg);
          }
        }
      }

      &.maxwell {
        position: absolute;
        bottom: -220px;
        left: 780px;
      }

      &.stratopolis {
        position: absolute;
        bottom: -165px;
        left: 560px;
      }

      &.luna {
        position: absolute;
        bottom: -80px;
        left: 240px;
        background: radial-gradient(
          ellipse at center,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 60%
        );
        width: 144px;
        height: 144px;
        padding-left: 10px;

        .text {
          width: 300px;
          margin-left: 65px;
        }

        .dot {
          position: absolute;
          top: 20px;
          left: -11px;
          color: transparent;
          width: 14px;
          height: 14px;
          background-color: #ddd;
          border-radius: 100%;
          box-shadow: 4px -4px 4px -2px rgba(0, 0, 0, 0.9) inset;

          &:before,
          &:after {
            content: '';
            border-bottom: 2px solid #ccc;
            height: 0;
            width: 72px;
            display: block;
            position: absolute;
            top: -10px;
          }
          &:before {
            left: 15px;
            top: -2px;
            transform: rotate(-25deg);
          }
          &:after {
            left: -14px;
            top: 49px;
            transform: rotate(-95deg);
          }
        }

        &:before {
          content: '';
          display: block;
          background: url('../assets/icons/earth.svg') center no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          position: absolute;
          top: 45px;
          left: -50px;
          border-radius: 100%;
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
            8px -8px 6px rgba(0, 0, 0, 0.9) inset;
          filter: grayscale(0.4);
        }
      }

      &.dawn {
        position: absolute;
        left: 950px;
        bottom: -90px;
        background: radial-gradient(
          ellipse at center,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 60%
        );
        width: 144px;
        height: 144px;
        padding-left: 10px;

        .dot {
          position: absolute;
          top: -30px;
          left: 65px;
          color: transparent;
          width: 14px;
          height: 14px;
          background-color: #594f49;
          border-radius: 100%;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
            4px -4px 4px -2px rgba(0, 0, 0, 0.9) inset;

          &:before,
          &:after {
            content: '';
            border-bottom: 2px solid #ccc;
            height: 0;
            width: 72px;
            display: block;
            position: absolute;
            top: -10px;
          }
          &:before {
            left: 0;
            top: 47px;
            transform: rotate(215deg);
          }
          &:after {
            right: 0;
            top: 47px;
            transform: rotate(145deg);
          }
        }
      }

      > .tile {
        font-size: 144px;
        margin: 0 -13.5px;

        &.ocean-placed foreignObject {
          background-image: url('../assets/texture/ocean.png');
        }
        &.city-placed foreignObject {
          background-image: url('../assets/texture/city.png');
        }
        &.greenery-placed foreignObject {
          background-image: url('../assets/texture/greenery.png');
        }
        &.capital-city-placed foreignObject {
          background-image: url('../assets/texture/capital.png');
        }
        &.special-placed.mine foreignObject {
          background-image: url('../assets/texture/mine.png');
        }
        &.special-placed.restricted foreignObject {
          background-image: url('../assets/texture/restricted.png');
        }
        &.special-placed.nuclear foreignObject {
          background-image: url('../assets/texture/nuclear.png');
        }
        &.special-placed.mohole foreignObject {
          background-image: url('../assets/texture/mohole.png');
        }
        &.special-placed.factory foreignObject {
          background-image: url('../assets/texture/factory.png');
        }
        &.special-placed.volcano foreignObject {
          background-image: url('../assets/texture/volcano.png');
        }
        &.special-placed.euro foreignObject {
          background-image: url('../assets/texture/euro.png');
        }
        &.special-placed.mars foreignObject {
          background-image: url('../assets/texture/mars.png');
        }
        &.special-placed.animal foreignObject {
          background-image: url('../assets/texture/animal.png');
        }

        foreignObject {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          & > div {
            padding-top: 25px;

            > .resource {
              opacity: 0.9;
              font-size: 120px;
            }

            > .tile {
              display: block;
              margin: 25px auto -35px;
              padding-left: 5px;

              + .resource {
                margin-top: 0;
              }

              &.ocean {
                margin-top: 150px;
              }
            }
          }
        }

        .base {
          stroke: #ccc;
        }

        .rewards {
          .resources {
            font-size: 88px;
            margin: 0 0 -46px;
            padding: 0;

            .icon {
              font-size: 88px;
            }
          }
        }

        @media (hover: none) {
          foreignObject {
            & > div {
              > .resource {
                opacity: 0.9;
                font-size: 120px;
              }

              > .tile {
                + .resource {
                  font-size: 36px;
                  top: -219px;
                  margin-left: -299px;
                }
              }

              .rewards {
                .resources {
                  margin-bottom: -69px;
                  margin-left: -299px;
                  margin-top: -54px;

                  .icon {
                    font-size: 24px;
                  }
                  .param.card {
                    font-size: 24px;
                    z-index: 0;
                    margin-top: 14px;
                    margin-left: 2px;
                  }
                }
                .text {
                  margin-top: 220px;
                }
                img.city {
                  margin-bottom: -250px;

                  & + .text {
                    margin-top: 130px;
                  }
                }
              }
            }
          }
        }

        .text {
          font-family: $title-font;
          font-size: 53px;
        }

        img.city {
          margin-top: -65px;
          margin-bottom: -66px;

          & + .text {
            margin-top: -60px;
          }
        }
      }
    }
  }
}
