$title-font: 'Prototype', sans-serif;

.settings-wrapper {
  position: fixed;
  bottom: 8px;
  right: 8px;
  transition: bottom 0.5s ease;
  text-align: right;
  pointer-events: none;

  &.shift {
    bottom: calc(33vh + 8px);

    &.empty {
      bottom: calc(20vh + 8px);
    }
  }

  .control {
    color: white;
    font-size: 30px;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    text-align: right;
    display: inline-block;

    &:hover {
      opacity: 1;
    }
  }

  .settings {
    opacity: 0;
    background: linear-gradient(
      135deg,
      #444 0%,
      #eee 25%,
      #bbb 50%,
      #bbb 75%,
      #eee 100%
    );
    border: 3px solid #444;
    transition: opacity 0.3s ease;
    margin-bottom: 16px;
    border-top-right-radius: 10px;
    user-select: none;

    &.shown {
      opacity: 1;
      pointer-events: auto;
    }

    .row {
      display: flex;
      font-family: $title-font;
      padding: 9px;

      .icon {
        width: 24px;
        margin-right: 8px;
      }
    }
    a.row, .a.row {
      cursor: pointer;
      text-decoration: none;
      color: black;
      background-color: transparent;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &:hover ~ .control {
      opacity: 1;
    }
  }
}
