$title-font: 'Prototype', sans-serif;

.card {
  font-size: 300px;
  height: 1.4em;
  width: 1em;
  border-radius: 0.04em;
  padding: 0.05em;
  background-color: white;
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  font-family: Palatino, serif;
  text-align: left;
  overflow: hidden;

  &.landscape {
    height: 1em;
    width: 1.4em;
  }

  &.modified {
    overflow: visible;
  }

  & > .modifier {
    font-size: .1em;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: calc(-.1em + max(1px, .1em));
    left: 50%;
    transform: translate(-50%, -100%);
    padding: .3em .35em .1em;
    min-width: 2.25em;
    background: #444a;
    border-style: solid;
    border-color: #888a;
    border-width: calc(max(1px, .1em));
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;

    &:before {
      content: 'MODS';
      display: block;
      position: absolute;
      text-align: center;
      font-size: .4em;
      color: #fff;
      font-family: $title-font, sans-serif;
      transform: translate(-50%, -66%);
      background: #000;
      padding: .3em;
      top: 0;
      left: 50%;
      border: 1px solid #ccc;
      border-radius: .5em;
      line-height: .4;
    }

    .restriction {
      font-size: .5em;
      display: inline-flex;
      height: 1.4em;
      box-shadow: 0 0 0 0.1em darkred;
    }

    & > .cost .mc {
      font-size: 1.4em;
      margin-bottom: -.25em;
    }

    & > * {
      margin-right: .2em;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .zoom {
    position: absolute;
    font-size: .125em;
    color: #fff;
    top: .5em;
    right: .5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: rgba(0,160,0,.9);
    opacity: 0;
    transition: opacity .3s ease, box-shadow .15s ease, background-color .15s ease;
    z-index: 2;
    text-align: center;
    line-height: 2;
    box-shadow: 0 0 0 1px rgba(0,96,0,.75);

    &:hover {
      background-color: rgba(0,160,0,.9);
      box-shadow: 0 0 0 .2em rgba(0,96,0,.75);
    }
  }

  &:hover {
    .zoom {
      opacity: 1;
    }
  }

  > .mc,
  > .tags {
    font-size: 0.15em;
    margin: -0.15em;
    top: 0.3em;
    position: absolute;
  }

  .tags {
    right: 0;
    padding-right: 0.5em;
    padding-top: 0.01em;
    .tag {
      font-size: 0.9em;
      margin-right: 0.07em;
      vertical-align: top;
    }
  }

  &.automated {
    .project {
      box-shadow: 0 0 0 0.01em #34a027;

      .title,
      .separator {
        background: linear-gradient(
          to right,
          #003d22 0%,
          #009f3e 20%,
          #bacb00 40%,
          #bacb00 60%,
          #009f3e 80%,
          #003d22 100%
        );
      }
    }
  }

  &.active {
    .project {
      box-shadow: 0 0 0 0.01em #0082cc;

      .title,
      .separator {
        background: linear-gradient(
          to right,
          #315591 0%,
          #3d9dd7 20%,
          #3bb0e5 40%,
          #3bb0e5 60%,
          #3d9dd7 80%,
          #315591 100%
        );
      }
    }
  }

  &.event {
    .project {
      box-shadow: 0 0 0 0.01em #e66d1c;

      .title,
      .separator {
        background: linear-gradient(
          to right,
          #a22722 0%,
          #f8ad06 15%,
          #e12021 25%,
          #f3a40b 35%,
          #f7d335 60%,
          #e31f21 80%,
          #ffcd3e 90%,
          #d82221 100%
        );
      }
    }
  }

  &.prelude {
    .project {
      box-shadow: 0 0 0 0.01em #9b9ca0;

      .title,
      .separator {
        background: linear-gradient(
          to right,
          #79277c 0%,
          #b0448f 20%,
          #e085c2 40%,
          #e085c2 60%,
          #b0448f 80%,
          #79277c 100%
        );
      }
    }
  }

  .image-resources {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: .1em solid rgba(0,0,0, 0.3);
    background: rgba(255,255,255,.85);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: black;
    font-size: 1.5em;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0.1em 0.1em 0.1em #0008;
  }

  .todo {
    position: absolute;
    height: 1em;
    width: 102%;
    top: 50%;
    left: -1%;
    font-size: 0.1em;
    font-family: 'Prototype', sans-serif;
    text-align: center;
    color: #fdd;
    text-transform: uppercase;
    transform: translateY(-50%) rotate(-5deg);
    background: repeating-linear-gradient(
      45deg,
      #a22722,
      #db5b57 10px,
      #a2272288 10px,
      #a2272288 20px
    );
    box-shadow: 0 0 0 2px #f008;
    -webkit-text-stroke: #e88 1px;
    z-index: 1;
  }
}

.set {
  font-size: 0.034em;
  position: absolute;
  display: block;
  left: 0.55em;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  border-radius: 50%;
  border: 0.05em solid black;
  box-shadow: 0 0 0 0.1em white, 0 0.1em 0.1em white inset;
  color: white;
  text-shadow: 0 0.05em 0 black;

  &:after {
    font-size: 0.9em;
    line-height: 1;
  }

  &:not(:last-of-type) {
    bottom: 5em;
  }
  &:last-of-type {
    bottom: 3em;
  }

  &.corporate {
    background-color: red;

    &:after {
      content: '\25B2';
    }
  }

  &.promo {
    background-color: black;
    border-radius: 0;
    width: 1.2em;
    height: 1.2em;
    line-height: 1;

    &:after {
      content: '\2B24';
      font-size: 0.55em;
    }
  }

  &.prelude {
    background-image: linear-gradient(#f6b4d0, #d9167f, #5a1c4a);
    border: 0.05em solid black;
    border-radius: 0.5em 0 0 0.5em/0.3em 0 0 0.3em;
    box-shadow: 0 0 0 0.1em white;
    transform: perspective(2em) rotateY(-30deg);
    height: 1em;

    &:after {
      content: '<';
      display: block;
      margin: 0 auto;
      color: #fff;
      background-image: linear-gradient(#b40d67, #e32d85, #f6b3ce);
      width: 65%;
      height: 70%;
      text-shadow: none;
      line-height: 0.7;
      font-weight: bold;
      margin-top: 0.15em;
      margin-left: 0.3em;
    }
  }

  &.venus {
    background-image: linear-gradient(#b5e0f1, #1993c5, #095363);
    border: 0.05em solid black;
    border-radius: 0.5em 0.5em 0 0/0.3em 0.3em 0 0;
    box-shadow: 0 0.1em 0 0.15em white;
    transform: perspective(1em) rotateX(-30deg);
    height: 1.4em;
    width: 1.2em;
    margin-left: 0.15em;
    margin-top: 0.2em;
    font-family: sans-serif;

    &:after {
      content: 'V';
      display: block;
      margin: 0 auto;
      color: #fff;
      background-image: linear-gradient(#034360, #0e8ec0, #2099c2);
      width: 65%;
      height: 70%;
      text-shadow: none;
      line-height: 0.9;
      font-weight: bold;
      margin-top: 0.15em;
      margin-left: 0.15em;
    }
  }
}
