$title-font: 'Prototype', sans-serif;

.lobby {
  height: 100vh;
  overflow: auto;
}
.center-items {
  align-items: center;
}
.inline-flex {
  display: inline-flex;
}
.game-variants {
  display: flex;
}
.corporation {
  color: #ffbb33;
  font-family: $title-font;
  text-decoration: underline dashed;
}

.board-button {
  font-size: 1.5em;
  letter-spacing: .1em;
}
.tharsis {
  font-family: $title-font!important;
}
.elysium {
  font-family: 'Nasalization', sans-serif!important;
}
.hellas {
  font-family: 'Vlaanderen', sans-serif!important;
}