$title-font: 'Prototype', sans-serif;

.card-modal {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 16px;
  border: 4px solid #444;
  z-index: 2;
  border-radius: 24px;
  left: 50vw;
  top: 30vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;

  &.show {
    opacity: 1;
    pointer-events: auto;

    .card-preview {
      pointer-events: auto;
    }
  }

  .card-preview {
    position: static;
    user-select: none;
    cursor: move;

    > .card {
      transition: height 0.5s ease, width 0.5s ease;

      &.modified {
        margin-top: .125em;
      }
    }
  }

  .footer {
    padding: 8px 0 0;

    button {
      display: block;
      width: 100%;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}
