$title-font: 'Prototype', sans-serif;

.player-stats {
  font-size: 0.8em;
  background: linear-gradient(
    135deg,
    #444 0%,
    #eee 25%,
    #bbb 50%,
    #bbb 75%,
    #eee 100%
  );
  border: 3px solid #444;
  opacity: 0;
  margin-left: 1em;
  vertical-align: top;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: inline-flex;
  z-index: 1;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 0.5em;
  cursor: initial;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .title-corp {
    font-family: $title-font;
    font-size: 1.2em;
    margin: -0.15em auto 0;
    width: 90%;
    background: #fdbc2d;
    padding: 0.05em 1em;
    border: 1px solid black;
    border-bottom-left-radius: 1.5em 3em;
    border-bottom-right-radius: 1.5em 3em;
    border-top: none;
    box-shadow: 0 0.1em 0.05em rgba(255, 255, 255, 0.5) inset,
      0 -0.1em 0.05em hsla(41, 98%, 8%, 0.5) inset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    min-height: calc(1em + 2px);

    .close {
      position: absolute;
      top: 0;
      right: -0.6em;
      cursor: pointer;
      padding-left: 0.2em;
      padding-right: 1em;
      height: 100%;
      border-left: 1px solid transparent;
      transition: border-left-color 0.15s ease;

      &:hover {
        border-left-color: #e39c02;
      }
      &:active {
        background: #de9902;
      }
    }

    .card-ref {
      color: #000;
    }

    .card-preview {
      margin-left: 14.5em;
      white-space: initial;
      text-overflow: initial;
    }
  }

  > div > .title {
    text-align: center;
    font-family: $title-font;
    text-transform: uppercase;
    box-shadow: 0 0.2em 0 0 rgba(255, 255, 255, 0.2) inset,
      0 0.1em 0 0 rgba(0, 0, 0, 0.5) inset,
      0 -0.2em 0.1em 0 rgba(0, 0, 0, 0.7) inset;
    border: 0.1em solid #999;
    padding: 0.2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
      to right,
      #315591 0%,
      #3d9dd7 20%,
      #3bb0e5 40%,
      #3bb0e5 60%,
      #3d9dd7 80%,
      #315591 100%
    );
  }

  .section {
    padding: 0 5px;
  }

  .production {
    width: 100%;
  }
  .card .production {
    width: auto;
  }

  .resource-wrapper {
    padding: 0 4px;
  }

  .arrow.transfer {
    position: absolute;
    font-size:  1em;
    line-height: 1;
    top: 0;
    left: -19px;
  }

  .resources .tile {
    font-size: 1.4em;
  }

  .on-mars {
    position: relative;
    background: #cca685;
    border: 1px solid #a57245;
    padding: 1em 0 0 0.4em;
    margin: -0.75em -0.25em 0.25em 0;
    width: 50%;

    &:before {
      content: 'On Mars';
      position: absolute;
      left: 0;
      top: 0;
      background: #a57245;
      font-family: $title-font;
      font-size: 0.8em;
      text-transform: uppercase;
      display: block;
      padding: 0.1em 0.5em 0.2em;
      border-bottom-right-radius: 0.5em;
    }
  }

  .score {
    border-left: 2px solid #000d;
    margin: 1em 0 1em 1em;
    padding: 1em;

    h2 {
      font-family: $title-font;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    .table {
      border-collapse: separate;
      border-spacing: 8px;
      background: #ddd;
      border: 1px solid #444;
      border-radius: 4px;

      .row {
        height: 41px;

        .cell {
          vertical-align: middle;
          position: relative;
          z-index: 1;
        }
      }
    }

    .award {
      font-style: italic;
      font-family: 'Monotype Corsiva', serif;
      font-size: 0.71em;
      letter-spacing: 0.15em;
      width: 100%;
      padding: 4px 12px;
      margin-top: 0.75em;
      position: relative;
      transition: box-shadow 0.3s ease;
      box-shadow: 0 0 0 2px #c78c33 inset;
      height: 30px;
      border-radius: 15px;
      background: linear-gradient(
        120deg,
        #f7b152 0%,
        #f7b152 40%,
        #fcf1a2 50%,
        #f9bc52 60%,
        #f6ec71 75%,
        #cb7f29 100%
      );

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: -3px;
        background: linear-gradient(#444, white);
        border-radius: 17px;
        z-index: -1;
      }
    }

    .milestone {
      display: inline-block;
      font-size: 18px;
      padding: 0.2em 0.2em 0.1em;
      margin-bottom: 0.1em;
      margin-top: 0.2em;
      text-align: center;
      text-transform: uppercase;
      font-family: $title-font;
      position: relative;
      cursor: pointer;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      background: linear-gradient(
        135deg,
        #ffce99 0%,
        #ffce99 5%,
        #ef7e2e 15%,
        #ef7e2e 85%,
        #ffce99 95%,
        #ffce99 100%
      );
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2) inset;
      color: #30231a;
      border: 2px solid #e27d39;
      cursor: pointer;
      border-radius: 50% 50% 0 0 / 20% 20% 0 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: -4px;
        left: -4px;
        bottom: -4px;
        right: -4px;
        background: linear-gradient(0deg, #eee 0%, #444 100%);
        z-index: -1;
        border-radius: 50% 50% 0 0 / 20% 20% 0 0;
      }
    }
  }
}
