$title-font: 'Prototype', sans-serif;

.player-stats {
  font-size: 0.8em;
  background: linear-gradient(
    135deg,
    #444 0%,
    #eee 25%,
    #bbb 50%,
    #bbb 75%,
    #eee 100%
  );
  border: 3px solid #444;
  opacity: 0;
  margin-left: 1em;
  vertical-align: top;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: inline-block;
  z-index: 1;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
  position: relative;
  width: 19em;
  border-radius: 0.5em;
  cursor: initial;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .title-corp {
    font-family: $title-font;
    font-size: 1.2em;
    margin: -0.15em auto 0;
    width: 90%;
    background: #fdbc2d;
    padding: 0.05em 1em;
    border: 1px solid black;
    border-bottom-left-radius: 1.5em 3em;
    border-bottom-right-radius: 1.5em 3em;
    border-top: none;
    box-shadow: 0 0.1em 0.05em rgba(255, 255, 255, 0.5) inset,
      0 -0.1em 0.05em hsla(41, 98%, 8%, 0.5) inset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    min-height: calc(1em + 2px);

    .close {
      position: absolute;
      top: 0;
      right: -0.6em;
      cursor: pointer;
      padding-left: 0.2em;
      padding-right: 1em;
      height: 100%;
      border-left: 1px solid transparent;
      transition: border-left-color 0.15s ease;

      &:hover {
        border-left-color: #e39c02;
      }
      &:active {
        background: #de9902;
      }
    }

    .card-ref {
      color: #000;
    }

    .card-preview {
      margin-left: 14.5em;
      white-space: initial;
      text-overflow: initial;
    }
  }

  > .title {
    text-align: center;
    font-family: $title-font;
    text-transform: uppercase;
    box-shadow: 0 0.2em 0 0 rgba(255, 255, 255, 0.2) inset,
      0 0.1em 0 0 rgba(0, 0, 0, 0.5) inset,
      0 -0.2em 0.1em 0 rgba(0, 0, 0, 0.7) inset;
    border: 0.1em solid #999;
    padding: 0.2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
      to right,
      #315591 0%,
      #3d9dd7 20%,
      #3bb0e5 40%,
      #3bb0e5 60%,
      #3d9dd7 80%,
      #315591 100%
    );
  }

  .section {
    padding: 0 0.5em;
  }

  .production {
    width: 100%;
  }
  .card .production {
    width: auto;
  }

  .resource-wrapper {
    padding: 0 0.4em;
  }

  .arrow.transfer {
    position: absolute;
    top: 0;
    left: -0.8em;
  }

  .resources .tile {
    font-size: 1.4em;
  }

  .on-mars {
    position: relative;
    background: #cca685;
    border: 1px solid #a57245;
    padding: 1em 0.25em 0 0.2em;
    margin: 0 auto 0.25em;
    width: 50%;

    &:before {
      content: 'On Mars';
      position: absolute;
      left: 0;
      top: 0;
      background: #a57245;
      font-family: $title-font;
      font-size: 0.8em;
      text-transform: uppercase;
      display: block;
      padding: 0.1em 0.5em 0.2em;
      border-bottom-right-radius: 0.5em;
    }
  }
}
