.players {
  position: fixed;
  top: 12px;
  left: 0;
  display: inline-block;
  user-select: none;
  pointer-events: none;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;

    li {
      margin: 0;
      list-style: none;
    }
  }

  .player-selector {
    position: absolute;
    height: 36px;
    width: 200px;
    left: 3px;
    transition: all .5s ease, left .5s ease, background-color .5s ease, opacity .3s ease;
    z-index: -1;
    border: 2px solid #666;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }

    &.active {
      left: 22px;
    }

    &.player-1 {
      top: 0;
      background-color: hsla(0,80%,40%,.6);
    }
    &.player-2 {
      top: calc(1 * 36px);
      background-color: hsla(240,80%,40%,.6);
    }
    &.player-3 {
      top: calc(2 * 36px);
      background-color: hsla(120,80%,30%,.6);
    }
    &.player-4 {
      top: calc(3 * 36px);
      background-color: hsla(60,80%,40%,.6);
    }
    &.player-5 {
      top: calc(4 * 36px);
      background-color: hsla(0,0%,35%,.6);
    }
  }
}
