$title-font: 'Prototype', sans-serif;

.player {
  font-family: $title-font;
  margin: 2px 5px;
  padding: 2px;
  border: 1px solid #ccc;
  background: linear-gradient(
    135deg,
    #444 0%,
    #eee 25%,
    #bbb 50%,
    #bbb 75%,
    #eee 100%
  );
  border-top-right-radius: 10px;
  transition: margin 0.3s ease, box-shadow 0.15s ease;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  pointer-events: auto;
  height: 32px;

  &:hover {
    box-shadow: 0 0 0 4px #666;
  }

  &.active {
    margin-left: 24px;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .5;
    filter: grayscale(.5);

    &:hover {
      box-shadow: none;
    }
  }

  &.passed {
    filter: grayscale(0.9);
    opacity: .5;
    background: linear-gradient(
      135deg,
      #222 0%,
      #bbb 25%,
      #999 50%,
      #999 75%,
      #bbb 100%
    );
    > span {
      color: #777;
      text-shadow: 1px 1px 0 #444;
      font-style: italic;
    }
  }

  > * {
    margin-right: 5px;
  }

  > span {
    font-size: 14px;
    vertical-align: text-top;
  }

  > .icon.resource {
    font-size: 1.6em;
  }

  .starting-player {
    background-image: url('../../assets/icons/rover.svg');
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .player-icon {
    margin-left: auto;

    &.resources {
      font-size: 1.6em;
    }
  }
}
