$title-font: 'Prototype', sans-serif;

@mixin icon(
  $img,
  $hue,
  $sat,
  $tint,
  $bg: true,
  $l: 50%,
  $bgsize: 85%,
  $gstop: 60%
) {
  background: linear-gradient(
    hsl($hue, $sat, if($l, $l, 45%)) $gstop,
    hsl($hue, $sat, 22%)
  );

  &:before {
    @if $bg {
      @if ($l) {
        background: $img no-repeat center/$bgsize,
          radial-gradient(
            ellipse at center,
            hsla($hue, $sat, $l + 26%, 1) 0%,
            hsla($hue, $sat, $l, 1) 100%
          );
      } @else {
        background: $img no-repeat center/$bgsize;
      }
    } @else {
      background: radial-gradient(
        ellipse at center,
        hsla($hue, $sat, if($l, $l + 26%, 66%), 1) 0%,
        hsla($hue, $sat, if($l, $l, 50%), 1) 100%
      );
    }
    box-shadow: 0 -2.47em 0 -2em hsla($hue, $sat, 6%, $tint) inset;
  }
  &:after {
    @if not $bg {
      background: $img no-repeat center/$bgsize;
    }
  }

  .simple & {
    background: hsl($hue, $sat, if($l, $l, 45%));
  }
}

.icon,
.mc,
.param {
  width: 1.01em;
  height: 1.01em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: text-bottom;

  &.temperature {
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    height: 1.7em;
    width: 0.499em;
  }

  &.card {
    font-size: 1em;
    height: 1.4em;
    vertical-align: middle;
    border-radius: 0.1em;

    &.landscape {
      height: 1em;
    }

    &.back {
      background: #171717 url('./texture/card-back.jpg') no-repeat center/75%;
    }
  }
}

.param {
  position: relative;

  .icon {
    position: absolute;
    font-size: 0.7em;
    top: -0.5em;
    right: -0.5em;
  }

  &.card {
    .title,
    .separator {
      height: 3em;
    }

    .body {
      padding: 3em;
    }

    .flavor {
      border-top-width: 1px;
      border-top-color: #999;
      padding: 0;
    }

    &.anyone {
      box-shadow: 0 0 0 0.1em #c02b39;
    }
  }
}

.icon {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0.85em;
    height: 0.85em;
    top: 0.05em;
  }
}

.icon.tag,
.icon.vp {
  border-radius: 50%;

  &:before,
  &:after {
    border-radius: 50%;
  }
}

/***********
 * TILE
 ***********/
.tile {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;

  .base {
    stroke: black;
    stroke-width: 8px;
    fill: none;
  }

  .outline-color {
    fill: none;
    stroke-width: 30px;
    transition: stroke 0.2s ease;
  }

  &.clickable {
    .base {
      cursor: pointer;
      pointer-events: visible;
    }

    &.clickable-city {
      .outline-color {
        stroke: hsla(0, 0%, 67%, 0.5) !important;
      }

      .base:hover + .outline-color {
        stroke: hsla(0, 0%, 67%, 1) !important;
      }
    }
    &.clickable-greenery {
      .outline-color {
        stroke: hsla(100, 60%, 44%, 0.5) !important;
      }

      .base:hover + .outline-color {
        stroke: hsla(100, 60%, 44%, 1) !important;
      }
    }
    &.clickable-ocean {
      .outline-color {
        stroke: hsla(203, 48%, 40%, 0.5) !important;
      }

      .base:hover + .outline-color {
        stroke: hsla(203, 48%, 40%, 1) !important;
      }
    }
    &.clickable-special {
      .outline-color {
        stroke: hsla(23, 52%, 34%, 0.7) !important;
      }

      .base:hover + .outline-color {
        stroke: hsla(23, 52%, 34%, 1) !important;
      }
    }
    &.clickable-capital {
      .outline-color {
        stroke: hsla(0, 0%, 99%, 0.5) !important;
      }

      .base:hover + .outline-color {
        stroke: hsla(0, 0%, 99%, 1) !important;
      }
    }
  }
  &:not(.clickable) {
    pointer-events: none;
    * {
      pointer-events: none;
    }
  }

  .asterisk {
    font-size: 350px;
  }

  .icon-text {
    font-size: 300px;
    line-height: 1.6;
    color: #444;
    -webkit-text-stroke: #777 20px;
  }

  &.anyone {
    .base {
      stroke: #c02b39;
      stroke-width: 30px;
    }
  }

  &.ocean {
    .outline-color {
      stroke: #80b3d2;
      fill: #b2e2fa;
    }

    .drip {
      stroke-width: 5px;
      fill: url('#drip-gradient');
      stroke: rgb(22, 72, 124);
      fill-opacity: 0.8;
    }

    .waves {
      fill: url('#waves-gradient');
    }
  }

  &.city,
  &.blank-city {
    & > .outline-color {
      stroke: url('#city-border');
      fill: url('#city-gradient');
    }

    &.capital {
      & > .outline-color {
        stroke: url('#city-border');
        fill: white;
      }
    }
  }

  &.greenery {
    & > .outline-color {
      stroke: url('#greenery-border');
      fill: url('#greenery-gradient');
    }

    .tree {
      stroke-width: 5px;
      stroke: #002c00;
      fill: url('#tree-gradient');
    }

    .oxygen {
      font-size: 100px;
    }
  }

  &.special {
    .outline-color {
      stroke: #834b29;
      fill: url('#special-gradient');
    }

    .icon-text {
      font-size: 600px;
      font-weight: bold;
    }
  }

  &.reserved-ocean {
    .base {
      fill: url('#ocean-gradient');
    }
  }

  &.ocean-placed {
    & > .outline-color {
      stroke: #357197;
    }
  }
  &.city-placed {
    & > .outline-color {
      stroke: #aaa;
    }
  }
  &.capital-placed {
    & > .outline-color {
      stroke: #fff;
    }
  }
  &.special-placed {
    & > .outline-color {
      stroke: #834b29;
    }
  }
  &.greenery-placed {
    & > .outline-color {
      stroke: #59b22c;
    }
  }
}

.icon.tag,
.icon.resource,
.icon.mc {
  border: calc(0.005em + 1px) solid #000;

  &.anyone {
    box-shadow: 0 0 0 calc(0.05em + 1px) #c02b39;
  }

  &.blank {
    border: none;
  }
}

.icon.resource {
  position: relative;

  .icon {
    position: absolute;
    font-size: 0.7em;
    top: -0.5em;
    right: -0.5em;
  }

  &.tr {
    font-size: 1.3em;
    width: 1.4em;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1.25em;
      height: 0.85em;
      top: 0.05em;
    }
  }
}

/* prettier-ignore */
.icon {
  &.building { @include icon(url('./icons/building.svg'), 31, 37%, 0.2, true, false); }
  &.space { @include icon(url('./icons/space.svg'), 26, 0%, 0.6, false, 50%, 70%); }
  &.science { @include icon(url('./icons/science.svg'), 42, 0%, 0, true, 99%); }
  &.earth { @include icon(url('./icons/earth.svg'), 330, 0%, 0.4, true, 60%, 101%, 10%); }
  &.city { @include icon(url('./icons/city.svg'), 330, 0%, 0.2, true, 80%); }
  &.animal { @include icon(url('./icons/animal.svg'), 103, 43%, 0.2, true, 35%); }
  &.event { @include icon(url('./icons/event.svg'), 53, 100%, 0.1); }
  &.jovian { @include icon(url('./icons/jovian.svg'), 330, 0%, 0.1, true, 60%, 101%, 15%); }
  &.microbe { @include icon(url('./icons/microbe.svg'), 67, 62%, 0.05); }
  &.power { @include icon(url('./icons/power.svg'), 307, 62%, 0.2, false, false); }
  &.plant { @include icon(url('./icons/plant.svg'), 95, 65%, 0.1); }
  &.titanium { @include icon(url('./icons/titanium.svg'), 26, 0%, 0.6, false); }
  &.heat { @include icon(url('./icons/heat.svg'), 13, 82%, 0.2, false, false); }
  &.steel { @include icon(url('./icons/steel.svg'), 30, 59%, 0.1, false, false); }
  &.venus { @include icon(url('./icons/venus.svg'), 199, 68%, 0.2, false, 50%, 60%); }
  &.floater { @include icon(url('./icons/floater.svg'), 50, 100%, 0.1, false, 50%, 80%); }
  &.any { @include icon(url('./icons/any.svg'), 330, 0%, 0, true, 99%, 60%); }
  &.all { @include icon(url('./icons/all.svg'), 330, 0%, 0, true, 99%, 101%, 15%); }
  &.fighter { @include icon(url('./icons/fighter.svg'), 26, 0%, 0.6, false, 30%); }
  &.asteroid { @include icon(url('./icons/asteroid.svg'), 26, 0%, 0.6, false, 30%); }
  &.marker { @include icon(#e06635, 48, 80%, 0.2, true, false); }
  &.player-1 { @include icon(hsl(0, 80%, 40%), 0, 80%, 0.2, true, false); }
  &.player-2 { @include icon(hsl(240, 80%, 40%), 240, 80%, 0.2, true, false); }
  &.player-3 { @include icon(hsl(120, 80%, 40%), 120, 80%, 0.2, true, false); }
  &.player-4 { @include icon(hsl(60, 80%, 40%), 60, 80%, 0.2, true, false); }
  &.player-5 { @include icon(hsl(0, 0%, 25%), 0, 0%, 0.2, true, 40%); }
}

.icon.tr {
  // @include icon(url('./icons/tr.svg'), 17, 90%, .1);
  background: linear-gradient(hsl(28, 94%, 65%) 60%, hsl(28, 94%, 65%));
  &:before {
    background: url('./icons/tr.svg') no-repeat center/85%,
      radial-gradient(
        ellipse at center,
        hsla(36, 93%, 58%, 1) 0%,
        hsla(17, 82%, 49%, 1) 100%
      );
    box-shadow: 0 -2.47em 0 -2em hsla(36, 67%, 4%, 0.1) inset;
  }
}

.mc {
  background: url('./icons/mc.svg') no-repeat center/100%;
  font-family: $title-font;
  position: relative;

  &.anyone {
    background-color: #c02b39;
    border: 0.07em solid #c02b39;
    border-radius: 0.3em;
    box-sizing: content-box;
    margin: 0;
  }

  .icon {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
  }

  .euro {
    font-weight: bold;
    color: rgba(246, 136, 7, 0.6);
    font-size: 1em;
    padding-right: 0.1em;
    vertical-align: text-top;
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 0.03em rgba(246, 136, 7, 0.8);
    line-height: 1;
  }

  > .value {
    font-size: 0.5em;
    color: #222;
  }
}

.oxygen {
  background: url('./icons/oxygen.svg') no-repeat center/100%;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.02em solid #444;
}
.temperature {
  background: url('./icons/temperature.svg') no-repeat center/100%;
}
.venus {
  background: url('./icons/venusscale.svg') no-repeat center/100%;
}

.restriction {
  font-size: 0.05em;
  display: inline-block;
  height: 100%;
  background: linear-gradient(to right, #ee8209 0%, #f5f30a 50%, #ee8209 100%);
  border: 0.05em solid black;
  margin: 0.05em;
  box-shadow: 0 0 0 0.05em white;
  margin-right: 0.1em;
  display: flex;
  flex-direction: row;

  span {
    font-family: $title-font;
    white-space: nowrap;
    margin-right: 0.1em;
    line-height: 1.4;

    .icon,
    .param,
    .tile {
      font-size: 1.5em;
      margin-top: -0.07em;
      margin-left: 0.06em;
    }

    .param.temperature {
      font-size: 1.2em;
      margin-top: -0.22em;
    }

    .param.venus {
      font-size: 2em;
      margin-top: -0.17em;
    }

    &:first-of-type {
      margin-left: 0.2em;
    }
    &:last-of-type {
      margin-right: 0.3em;
    }
  }

  .production {
    background: #444;
    padding: 0.3em;
    font-size: 0.75em;
    margin-top: -0.2em;
  }

  &.max {
    background: linear-gradient(
      to right,
      #ee1918 0%,
      #f68807 50%,
      #ee1918 100%
    );
  }

  &:before {
    font-weight: bold;
    line-height: 1.2;
    content: '\00A6';
    margin: 0 -0.05em;
  }
}

.table {
  display: table;

  .row {
    display: table-row;

    .cell {
      display: table-cell;
    }
  }
}
.table,
.row,
.cell {
  & > .middle {
    vertical-align: middle;
    align-self: unset;
  }
}

.resources {
  font-size: 2em;
  font-family: $title-font;

  &.condense > * {
    margin: 0;
  }

  > * {
    vertical-align: middle;
    margin: 0.1em;

    &.production .flex {
      margin: 0;
    }

    &.param.temperature {
      margin-left: 0.1em;
      margin-right: 0.1em;
      margin-bottom: -0.1em;
      margin-top: -0.1em;
    }
  }

  > .standard-project {
    font-size: 0.5em;
    width: 8em;
    word-break: break-word;
    display: inline-block;
    line-height: 0.8;
    padding: 0.3em 0;
  }

  > .restriction {
    font-size: 0.7em;
    height: 1.4em;
    margin-top: 0.1em;

    * {
      margin: 0;
    }
  }

  > :not(:first-of-type):not(.icon):not(.mc):not(.tile):not(.param):not(.production) {
    margin-top: 0.5em;
  }

  > span:not(.arrow):not(.standard-project):not(.sub):not(.sup):not(.x) {
    font-size: 0.7em;
  }

  .param.oxygen {
    font-size: 1.4em;
  }

  .param.venus {
    width: 1.7em;
  }

  .sup {
    font-size: 0.6em;
    vertical-align: super;

    > * {
      margin-right: 0.1em;
    }
  }

  .sub {
    font-size: 0.5em;
    vertical-align: sub;

    > * {
      margin-right: 0.1em;
    }
  }

  .tile {
    font-size: 1.5em;
    position: relative;
  }

  .production {
    font-size: 1em;
  }

  .vp {
    font-size: 1.75em;
    display: inline-flex;
  }
}

.production {
  font-family: $title-font;
  background: linear-gradient(#555, #fff);
  padding: 0.2em;
  position: relative;
  display: inline-block;
  font-size: 2em;
  min-height: 1.6em;

  * {
    z-index: 1;
    vertical-align: middle;
    line-height: 1.2;
  }

  .tile {
    height: 1.25em;
    width: 1.25em;
  }

  .icon,
  .mc {
    margin: 0.1em;

    &.mc.anyone {
      margin: 0.025em;
    }
  }

  span {
    font-size: 0.7em;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    margin: 0.07em;
    background: url('./texture/production.svg') repeat top/.35em,
      linear-gradient(#805940, #a37144);
    border-image: linear-gradient(#ac7542, #573925) 1;
    border-width: 0.07em;
    border-style: solid;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.vp {
  color: black;
  font-size: 0.8em;
  font-family: $title-font;
  text-align: center;
  line-height: 0.9;
  width: 1em;
  height: 1em;
  background: url('./icons/mars.svg') no-repeat center/105%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 -2.47em 0 -2em hsla(330, 0%, 6%, 0.3) inset;
  border: 0.04em solid #666;
  display: flex;
  text-align: center;

  span {
    font-size: 0.3em;
    align-self: center;
    margin: 0 auto;

    &.point {
      font-size: 1.3em;
      -webkit-text-stroke: 0.02em #f9b000;
      vertical-align: middle;

      &.big {
        font-size: 0.8em;
      }
    }

    .tile {
      font-size: 1.5em;
      vertical-align: middle;
    }
    .tag {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  &.anyone {
    box-shadow: 0 0 0 0.05em #c02b39;
  }
}

.arrow {
  color: #d94c38;
  -webkit-text-stroke: 0.05em darkred;

  &:before {
    content: '\27A1';
  }
}

.points {
  background: url('./icons/pts.svg') no-repeat center;
  background-size: contain;
  font-family: $title-font;
  display: inline-block;
  width: 1.7em;
  vertical-align: text-bottom;
  text-align: center;

  &.o {
    background: url('./icons/pts-o.svg') no-repeat center;
    background-size: contain;
  }

  > .value {
    font-size: 0.8em;
    line-height: 2;
    color: #a22a2e;
  }
}

.standard-project {
  font-size: 1em;
  font-family: $title-font;
  text-align: center;
  background: #e8a91c;
  border: 2px solid #f5ee24;
  border-radius: 1em;
  box-shadow: 0 0 1px 1px black;
  padding: 0 0.2em;
}
