.card {
  font-size: 300px;
  height: 1.4em;
  width: 1em;
  border-radius: .04em;
  padding: .05em;
  background-color: white;
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  font-family: Baskerville, serif;
  text-align: left;

  &.landscape {
    height: 1em;
    width: 1.4em;
  }

  > .mc, > .tags {
    font-size: .15em;
    margin: -.15em;
    position: absolute;
  }

  .tags {
    right: 0;
    padding-right: .5em;
    padding-top: .01em;
    .tag {
      font-size: .9em;
      margin-right: .07em;
      vertical-align: top;
    }
  }

  .set {
    font-size: .034em;
    position: absolute;
    display: block;
    left: .55em;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    border-radius: 50%;
    border: .05em solid black;
    box-shadow: 0 0 0 .1em white, 0 .1em .1em white inset;
    color: white;
    text-shadow: 0 .05em 0 black;

    &:after {
      font-size: .9em;
      line-height: 1;
    }

    &:not(:last-of-type){
      bottom: 5em;
    }
    &:last-of-type {
      bottom: 3em;
    }

    &.corporate {
      background-color: red;

      &:after {
        content: '\25B2';
      }
    }

    &.promo {
      background-color: black;
      border-radius: 0;
      width: 1.2em;
      height: 1.2em;

      &:after {
        content: '\2B24';
        font-size: .55em;
      }
    }

    &.prelude {
      background-image: linear-gradient(#F6B4D0, #D9167F, #5A1C4A);
      border: .05em solid black;
      border-radius: .5em 0 0 .5em/.3em 0 0 .3em;
      box-shadow: 0 0 0 .1em white;
      transform: perspective(2em) rotatey(-30deg);
      height: 1em;

      &:after {
        content: '<';
        display: block;
        margin: 0 auto;
        color: #fff;
        background-image: linear-gradient(#B40D67, #E32D85, #F6B3CE);
        width: 65%;
        height: 70%;
        text-shadow: none;
        line-height: .7;
        font-weight: bold;
        margin-top: .15em;
        margin-left: .3em;
      }
    }
  }

  &.automated {
    .project {
      box-shadow: 0 0 0 .01em #34A027;
  
      .title, .separator {
        background:
          linear-gradient(to right, #003D22 0%, #009F3E 20%, #BACB00 40%, #BACB00 60%, #009F3E 80%, #003D22 100%);
      }
    }
  }

  &.active {
    .project {
      box-shadow: 0 0 0 .01em #0082cc;
  
      .title, .separator {
        background:
          linear-gradient(to right, #315591 0%, #3d9dd7 20%, #3bb0e5 40%, #3bb0e5 60%, #3d9dd7 80%, #315591 100%);
      }
    }
  }

  &.event {
    .project {
      box-shadow: 0 0 0 .01em #e66d1c;
  
      .title, .separator {
        background:
          linear-gradient(to right, #a22722 0%, #f8ad06 15%, #e12021 25%, #f3a40b 35%, #f7d335 60%, #e31f21 80%, #ffcd3e 90%, #d82221 100%);
      }
    }
  }
}
