$title-font: 'Prototype', sans-serif;

.project {
  border-radius: .08em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border: .003em solid black;

  // Header bar: M€, restrictions, tags
  .header {
    display: flex;
    flex-direction: row-reverse;
    border-color: black;
    border-style: solid;
    border-width: 0 0 .003em 0;
    height: .1em;
    min-height: .1em;
    width: 100%;
    background: repeating-linear-gradient(90deg, #444, #eee 10%, #444 20%);
    padding: .01em 0;

    // Gradient background, with parent tag acting as a border
    &:before {
      display: block;
      background: repeating-linear-gradient(-45deg, #888 0%, #eee 25%, #888 50%);
      width: 100%;
      height: 100%;
      content: "";
    }

    .restriction {
      margin-left: 2.8em;
      height: 1.4em;
      line-height: 1.2;
    }
  }

  .title, .separator {
    font-family: $title-font;
    font-size: .05em;
    text-align: center;
  }

  // Title bar (i.e. title of card)
  .title {
    text-transform: uppercase;
    padding: .2em 0;
    box-shadow: 0 .2em 0 0 rgba(255,255,255,.2) inset, 0 -.1em 0 0 rgba(0,0,0,.5) inset;
    border-bottom: .05em solid #999;
  }

  // Separator (goes between picture and description)
  .separator {
    box-shadow: 0 .2em 0 0 rgba(255,255,255,.2) inset, 0 .1em 0 0 rgba(0,0,0,.5) inset, 0 -.2em .1em 0 rgba(0,0,0,.7) inset;
    color: rgba(0,0,0,.1);
    border-top: .05em solid #999;
    padding-bottom: .1em;
    position: relative;

    // Card number
    .number {
      width: 2.2em;
      font-size: .6em;
      font-family: $title-font;
      float: right;
      margin-right: .3em;
      margin-top: .3em;
      background-color: rgba(170,170,170,.7);
      border-style: solid;
      border-width: .2em;
      border-color: #444 #666 #eee #444;
      color: #444;
      line-height: .95;
    }

    // Bottom border
    &:after {
      display: block;
      position: absolute;
      bottom: -.2em;
      content: '';
      height: .2em;
      width: 100%;
      background: repeating-linear-gradient(to right, #444, #eee 20%, #444 40%);
    }
  }

  // Card body
  .body {
    position: relative;
    background: linear-gradient(135deg, #444 0%, #eee 25%, #bbb 50%, #bbb 75%, #eee 100%);
    font-size: .045em;
    font-family: 'Palantino', serif;
    padding: .5em;
    line-height: .9;
    flex-wrap: wrap;

    // Top body, for Active cards only
    &.top {
      border-style: solid;
      border-width: 0;
      border-bottom-width: .2em;
      border-image: linear-gradient(to right, #444, #eee 15%, #444 30%, #eee 45%, #444 60%, #eee 75%, #444 90%) 1 100%;
      box-shadow: 0 .1em 0 0 black, 0 .2em 0 0 #eee, 0 .3em 0 0 black;
    }

    // Separator line, goes above flavor text
    hr {
      width: 90%;
      border: none;
      height: .1em;
      background-color: #222;
      margin: .4em auto;
    }

    // Flavor text
    .flavor {
      font-style: italic;
      text-align: center;
      line-height: .9;
      width: 100%;
      border-top: .1em solid black;
      margin-top: .3em;
      padding-top: .3em;
    }

    // Victory point bubble
    .vp {
      font-size: 5.5em;
    }

    // Description text
    .description {
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }

  // Card art
  .image {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: #444;
    font-size: .3em;
    align-items: center;
    justify-content: center;
    min-height: .5em;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
      Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
      LastResort;
    
    .image-resources {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: .5em;
      background-color: rgba(255,255,255,.5);
      padding: .2em .4em;
      border-radius: .2em;
    }
  }
}
