$title-font: 'Prototype', sans-serif;

body {
  overflow: hidden;
}

.board {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.field {
  width: 7em;
  height: 7em;
  background: url('/icons/mars_bg.jpg') center no-repeat/7em;
  border: .05em solid #8B5E36;
  border-radius: 100%;
  text-align: center;
  margin: 3em auto;
  box-shadow: 0 0 .3em .3em rgba(255,255,255,.3);
  font-size: 9em;
  cursor: grab;
  user-select: none;

  &.dragging {
    cursor: grabbing;
  }

  .tiles {
    margin: .46em -1.06em 0 -1em;

    .row {
      margin: -.35em 0;
      pointer-events: none;
    }

    .tile {
      margin: 0 -.095em;

      foreignObject > div {
        padding-top: .18em;
      }

      .base {
        stroke: rgba(255,255,255,.4);
      }

      .resources {
        font-size: .6em;
        margin: 0 0 -.52em;
        padding: 0;
      }

      .text {
        font-family: $title-font;
        font-size: .37em;
      }

      img.noctis {
        margin-top: -1em;
        margin-bottom: -1em;
      }
    }
  }
}
