.card-ref {
  cursor: pointer;
  text-decoration: underline dashed;

  &.active {
    color: hsl(200,80%,60%);
  }
  &.automated {
    color: hsl(120,50%,50%);
  }
  &.event {
    color: hsl(20,80%,50%);
  }
}
