$title-font: 'Prototype', sans-serif;
$hand-height: 45vh;

.drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: $hand-height;
  min-height: 20vh;
  border-top: 4px solid #444;
  background: rgba(187, 187, 187, .5);
  transition: transform .5s ease;
  cursor: default;
  z-index: 2;
  user-select: none;
  width: 100vw;

  &.collapse {
    transform: translateY(100%);
    z-index: 3;
  }

  .drawer-btn {
    display: block;
    font-size: 1.25em;
    padding: 8px 12px;
    position: absolute;
    left: 16px;
    top: -51px;
    cursor: pointer;
    border: 3px solid #444;
    border-bottom: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: linear-gradient(135deg, #444 0%, #eee 25%, #bbb 50%, #bbb 75%, #eee 100%);
    font-family: $title-font;
    outline: none;
    transition: border-color .3s ease, box-shadow .15s ease;

    &.active {
      left: 144px;
    }
    &.automated {
      left: 275px;
    }
    &.event {
      left: 448px;
    }

    .param {
      box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
      margin-right: 8px;
    }

    & > span {
      vertical-align: middle;
    }

    &.hand {
      .param {
        box-shadow: 0 0 4px rgba(255,255,255,.4);
        margin-right: -16px;

        &:first-of-type {
          transform: rotateZ(-5deg);
        }
        &:last-of-type {
          transform: rotateZ(5deg);
          margin-right: 8px;
        }
      }
    }

    &:hover {
      border-color: #888;
    }
    &:active {
      box-shadow: 0 0 24px rgba(0,0,0,.5) inset;
    }
  }

  .cards {
    margin: 0;
    text-align: center;
    padding: 24px 24px 48px;
    max-height: calc(#{$hand-height} - 3px);
    overflow-y: auto;

    li {
      display: inline-block;
      margin: 2px;
      list-style-type: none;
      position: relative;
      transition: background-color .5s ease;
      opacity: 1;
      width: 150px;
      height: 210px;
      background: transparent;
      border-radius: 5px;

      &.selected {
        background: rgba(0,0,0,.25);

        .card-preview {
          cursor: default;
          opacity: 0;
        }
      }

      .card-preview {
        position: static;
        pointer-events: auto;
        user-select: none;
        cursor: pointer;
        margin: 0;
        transition: opacity .5s ease;

        > .card {
          font-size: 150px;
          box-shadow: none;
          transition: box-shadow .15s ease, transform .3s ease;

          &:hover {
            box-shadow: 0 0 0 4px #444, 0 0 10px 4px rgba(0,0,0,.5);
            transform: scale(1.2);
            z-index: 2;
          }
        }
      }
    }
  }

  .active-card {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
    background-color: rgba(0,0,0,.75);
    padding: 16px;
    border: 4px solid #444;
    z-index: 2;
    border-radius: 24px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .card-preview {
      position: static;
      pointer-events: auto;
      user-select: none;
      cursor: move;
    }

    .footer {
      padding: 8px 0 0;

      button {
        display: block;
        width: 100%;
        padding: 2px;
        border: 1px solid #ccc;
        background: linear-gradient(135deg, #444 0%, #eee 25%, #bbb 50%, #bbb 75%, #eee 100%);
        border-top-right-radius: 10px;
        cursor: pointer;
        transition: box-shadow .15s ease;
        font-family: $title-font;
        font-size: 1.25em;
        height: 38px;
        margin-top: 6px;
        margin-bottom: 6px;
        outline: none;

        &.primary {
          border-width: 2px;
        }

        .pill {
          padding: 4px 12px;
          margin-right: 4px;
          background-color: rgba(0,0,0,.75);
          color: #eee;
          border-radius: 18px;
          font-size: 12px;
        }

        .resources {
          font-size: 1em;
        }

        &.disabled {
          color: #666;
          text-shadow: 1px 1px 0 rgba(255,255,255,.2);
        }

        &:hover {
          box-shadow: 0 0 0 4px #666;
        }
        &:active {
          box-shadow: 0 0 0 4px #666, 0 0 12px rgba(0,0,0,.5) inset;
        }
      }
    }
  }
}
