$title-font: 'Prototype', sans-serif;

.global-params {
  position: fixed;
  right: 300px;
  top: 12px;
  cursor: initial;
  user-select: none;

  .points {
    font-size: 28px;
    margin: 0 6px 2px;
  }

  .ocean-param {
    margin-right: -4px;
    margin-top: -8px;
    transition: filter .3s ease;
    font-size: 64px;

    &.maxed {
      opacity: .25;
    }

    .ocean-num {
      font-family: $title-font;
      font-size: 150px;
      color: #FFEF00;
      text-align: center;
      margin: 180px 0;
    }
  }

  .temp-wrapper, .oxy-wrapper {
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background: rgba(255,255,255,.3);
    position: relative;

    > .param {
      position: absolute;
      top: 0;
      font-size: 16px;
      z-index: 1;
    }

    &.maxed {
      opacity: .25;

      .temp-gauge, .oxy-gauge {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
    }

    .temp-gauge, .oxy-gauge {
      background-size: 20px 340px;
      background-position: bottom;
      width: 100%;
      transition: height .3s ease;
      position: relative;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      height: 9px;

      span {
        font-family: $title-font;
        position: absolute;
        border-top: 1px solid white;
        color: white;
        font-size: 14px;
        top: 0;
        z-index: 2;
      }
    }

    .bonus {
      line-height: 0;
      position: absolute;
      border: 1px solid black;
      padding: 2px;
      background-color: #aaa;

      &.met {
        opacity: .25;
      }

      > .production {
        font-size: 15px;
        min-height: unset;
        padding: .1em;

        .icon {
          border: none;
        }
      }

      > .tile {
        font-size: 21px;
        margin-right: -2px;
      }

      > .param {
        font-size: 17px;
        margin: 0 2px;
      }

      &:after {
        content: attr(data-content);
        border-top: 1px solid black;
        font-family: $title-font;
        position: absolute;
        top: -1px;
        font-size: 10px;
        line-height: 1;
        text-align: center;
        width: 18px;
      }
    }

    .tick {
      position: absolute;
      left: 0;
      height: 0;
      width: 100%;
      border-top: 1px solid rgba(255,255,255,.2);
    }
  }

  .oxy-wrapper {
    margin-left: 8px;
    margin-right: 2px;

    .param {
      margin: 10px 1px;
    }

    .oxy-gauge {
      background-image: linear-gradient(to top, rgba(0,0,0,.1),rgba(180,140,94,1),rgba(147,207,244,1));

      span {
        padding-right: 24px;
        right: 0;
      }
    }

    .bonus {
      right: 23px;

      &:after {
        padding-left: 8px;
        padding-right: 1px;
      }
    }
  }

  .temp-wrapper {
    margin-left: 3px;
    margin-right: 7px;

    .param {
      margin: 5px;
    }

    .temp-gauge {
      background-image: linear-gradient(to top, rgb(37,203,247),rgb(113,43,133),rgb(229,34,28));

      span {
        padding-left: 24px;
        left: 0;
      }
    }

    .bonus {
      left: 23px;

      &:after {
        right: 0;
        padding-right: 29px;
        padding-left: 0;
      }
      &.heat:after {
        padding-right: 31px;
      }
    }
  }
}
