$title-font: 'Prototype', sans-serif;

.player {
  font-family: $title-font;
  margin: 2px 5px;
  padding: 2px;
  border: 1px solid #ccc;
  background: linear-gradient(135deg, #444 0%, #eee 25%, #bbb 50%, #bbb 75%, #eee 100%);
  border-top-right-radius: 10px;
  transition: margin .3s ease, box-shadow .15s ease;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  pointer-events: auto;

  &:hover {
    box-shadow: 0 0 0 4px #666;
  }

  &.active {
    margin-left: 24px;
  }

  &.passed {
    filter: grayscale(.9);
    background: linear-gradient(135deg, #222 0%, #bbb 25%, #999 50%, #999 75%, #bbb 100%);
    > span {
      color: #777;
      text-shadow: 1px 1px 0 #444;
      font-style: italic;
    }
  }

  > * {
    margin-right: 5px;
  }

  > span {
    font-size: 14px;
    vertical-align: text-top;
  }

  > .icon.resource {
    font-size: 1.6em;
  }

  .points {
    background: url('../assets/icons/pts.svg') no-repeat center/contain;
    font-family: $title-font;
    display: inline-block;
    width: 27px;
    vertical-align: text-bottom;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 2px;

    &.o {
      background: url('../assets/icons/pts-o.svg') no-repeat center/contain;
    }

    > .value {
      font-size: 13px;
      color: #222;
      line-height: 2;
      color: #A22A2E;
    }
  }

  .starting-player {
    background-image: url('../assets/icons/rover.svg');
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}
