$title-font: 'Prototype', sans-serif;

.players {
  position: fixed;
  top: 1em;
  left: 0;
  display: inline-block;
  width: 1em;
}

.player {
  font-family: $title-font;
  font-size: 1.5em;
  margin: .1em .2em;
  padding: .1em;
  border: 1px solid #ccc;
  background: linear-gradient(135deg, #444 0%, #eee 25%, #bbb 50%, #bbb 75%, #eee 100%);
  border-top-right-radius: .5em;
  transition: margin .3s ease, box-shadow .15s ease;
  min-width: 5em;
  display: inline-block;
  cursor: pointer;
  box-shadow: none;

  &:hover {
    box-shadow: 0 0 0 .2em #666;
  }

  &.active {
    margin-left: 1em;
  }

  &.passed {
    filter: grayscale(.9);
    background: linear-gradient(135deg, #222 0%, #bbb 25%, #999 50%, #999 75%, #bbb 100%);
    > span {
      color: #777;
      text-shadow: 1px 1px 0 #444;
      font-style: italic;
    }
  }

  > * {
    margin-right: .2em;
  }

  > span {
    font-size: .6em;
    vertical-align: middle;
  }

  .points {
    background: url('../assets/icons/pts.svg') no-repeat center/100%;
    font-family: $title-font;
    display: inline-block;
    width: 1.1em;
    height: 1em;
    vertical-align: text-bottom;
    text-align: center;

    &.o {
      background: url('../assets/icons/pts-o.svg') no-repeat center/100%;
    }

    > .value {
      font-size: .6em;
      color: #222;
      vertical-align: top;
      line-height: 1.7;
      color: #A22A2E;
    }
  }
}
