$title-font: 'Prototype', sans-serif;

@mixin icon($img, $hue, $sat, $tint, $bg:true, $l:false, $bgsize:85%, $gstop:60%) {
  background: linear-gradient(hsl($hue,$sat,if($l,$l,45%)) $gstop, hsl($hue,$sat,22%));

  &:before {
    @if $bg {
      background: $img no-repeat center/$bgsize,
        radial-gradient(ellipse at center,hsla($hue,$sat,if($l,$l + 26%,76%),1) 0%,hsla($hue,$sat,if($l,$l,50%),1) 100%);
    } @else {
      background: radial-gradient(ellipse at center,hsla($hue,$sat,if($l,$l + 26%,66%),1) 0%,hsla($hue,$sat,if($l,$l,50%),1) 100%);
    }
    box-shadow: 0 -2.47em 0 -2em hsla($hue,$sat,6%,$tint) inset;
  }
  &:after {
    @if not $bg {
      background: $img no-repeat center/$bgsize;
    }
  }
}

.icon, .mc {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: text-bottom;
}

.icon {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 6%;
  }
}

.icon.tag, .icon.vp {
  border-radius: 50%;

  &:before, &:after {
    border-radius: 50%;
  }
}

.icon.tag, .icon.resource, .icon.mc {
  border: calc(.005em + 1px) solid #000;
}

.icon.building { @include icon(url('./icons/building.svg'), 31, 37%, .2); }
.icon.space { @include icon(url('./icons/space.svg'), 26, 0%, .6, false); }
.icon.science { @include icon(url('./icons/science.svg'), 42, 0%, 0, true, 99%); }
.icon.earth { @include icon(url('./icons/earth.svg'), 330, 0%, .4, true, 90%, 99%, 10%); }
.icon.city { @include icon(url('./icons/city.svg'), 330, 0%, .2, true, 80%); }
.icon.animal { @include icon(url('./icons/animal.svg'), 103, 43%, .2, true); }
.icon.event { @include icon(url('./icons/event.svg'), 53, 100%, .1); }
.icon.jovian { @include icon(url('./icons/jovian.svg'), 330, 0%, .1, true, 90%, 99%, 15%); }
.icon.microbe { @include icon(url('./icons/microbe.svg'), 67, 62%, .05); }
.icon.power { @include icon(url('./icons/power.svg'), 307, 62%, .1, false); }
.icon.plant { @include icon(url('./icons/plant.svg'), 95, 65%, .1); }
.mc {
  background: url('./icons/mc.svg') no-repeat center/100%;
  font-family: $title-font;

  .euro {
    font-weight: bold;
    color: rgba(246,136,7,.6);
    font-size: 1em;
    padding-right: .1em;
    vertical-align: text-top;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-stroke: .03em rgba(246,136,7,.8);
  }
}
.mc span {
  font-size: .55em;
  color: #222;
}

.requirement {
  font-size: .05em;
  display: inline-block;
  height: 100%;
  background: linear-gradient(to right, #ee8209 0%, #f5f30a 50%, #ee8209 100%);
  border: .05em solid black;
  margin: .05em;
  box-shadow: 0 0 0 .05em white;
  margin-right: .1em;
  display: flex;
  flex-direction: row;

  span {
    font-family: $title-font;
    white-space: nowrap;
    margin-right: .1em;

    .icon {
      font-size: 1.5em;
      margin-top: -.06em;
      margin-left: .06em;
    }

    &:first-of-type {
      margin-left: .2em;
    }
    &:last-of-type {
      margin-right: .3em;
    }
  }

  &.max {
    background: linear-gradient(to right, #ee1918 0%, #f68807 50%, #ee1918 100%);
  }

  &:before {
    font-weight: bold;
    line-height: 1;
    content: '\00A6';
    margin: 0 -.05em;
  }
}

.resources {
  font-size: 2em;
  font-family: $title-font;
  margin-bottom: .2em;
}

.production {
  background: linear-gradient(#555, #fff);
  padding: .15em;
  display: inline-flex;
  position: relative;

  .icon, .mc, span {
    margin: .1em;
    z-index: 1;
  }

  &:before {
    display: block;
    content: '';;
    position: absolute;
    margin: .07em;
    background: url('./texture/production.svg') repeat top/.35em,
      linear-gradient(#805940, #a37144);
    border-image: linear-gradient(#AC7542, #573925) 1;
    border-width: .07em;
    border-style: solid;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.vp {
  color: black;
  font-size: .8em;
  font-family: $title-font;
  text-align: center;
  line-height: .9;
  width: 1em;
  height: 1em;
  background: url('./icons/mars.svg') no-repeat center/105%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 -2.47em 0 -2em hsla(330,0%,6%,.3) inset;
  border: .04em solid #666;
  display: flex;
  text-align: center;

  span {
    font-size: .3em;
    align-self: center;
    margin: 0 auto;

    &.point {
      font-size: 1.5em;
      -webkit-text-stroke: .02em #F9B000;
      vertical-align: middle;

      &.big {
        font-size: inherit;
      }
    }
  }
}

.arrow {
  color: #d94c38;
  -webkit-text-stroke: .1em #d94c38;

  &:before {
    content: '\2192';
  }
}
