$title-font: 'Prototype', sans-serif;

@mixin icon($img, $hue, $sat, $tint, $bg:true, $l:false, $bgsize:85%, $gstop:60%) {
  background: linear-gradient(hsl($hue,$sat,if($l,$l,45%)) $gstop, hsl($hue,$sat,22%));

  &:before {
    @if $bg {
      background: $img no-repeat center/$bgsize,
        radial-gradient(ellipse at center,hsla($hue,$sat,if($l,$l + 26%,76%),1) 0%,hsla($hue,$sat,if($l,$l,50%),1) 100%);
    } @else {
      background: radial-gradient(ellipse at center,hsla($hue,$sat,if($l,$l + 26%,66%),1) 0%,hsla($hue,$sat,if($l,$l,50%),1) 100%);
    }
    box-shadow: 0 -2.47em 0 -2em hsla($hue,$sat,6%,$tint) inset;
  }
  &:after {
    @if not $bg {
      background: $img no-repeat center/$bgsize;
    }
  }
}

.icon, .mc, .param {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: text-bottom;

  &.temperature {
    margin-top: -.3em;
    margin-bottom: -.3em;
    height: 1.6em;
    width: .48em;
  }

  &.card {
    font-size: 1em;
    height: 1.4em;
    vertical-align: middle;
  }
}

.icon {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    width: .85em;
    height: .85em;
    top: .05em;
  }
}

.icon.tag, .icon.vp {
  border-radius: 50%;

  &:before, &:after {
    border-radius: 50%;
  }
}

.tile {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;

  .base {
    stroke: black;
    stroke-width: 8px;
    fill: none;
  }

  .outline-color {
    fill: none;
    stroke-width: 30px;
  }

  &.anyone {
    .base {
      stroke: #C02B39;
      stroke-width: 30px;
    }
  }

  &.ocean {
    .outline-color {
      stroke: #80b3d2;
      fill: #b2e2fa;
    }

    .drip {
      stroke-width: 5px;
      fill: url('#drip-gradient');
      stroke: rgb(22, 72, 124);
      fill-opacity: .8;
    }

    .waves {
      fill: url('#waves-gradient');
    }
  }

  &.city {
    .outline-color {
      stroke: #666;
      fill: url('#city-gradient');
    }

    &.capital {
      .outline-color {
        stroke: #ccc;
        fill: white;
      }
    }
  }
}

.icon.tag, .icon.resource, .icon.mc {
  border: calc(.005em + 1px) solid #000;

  &.anyone {
    outline: calc(.05em + 1px) solid #C02B39;
  }

  &.blank {
    border: none;
  }
}

.icon.resource {
  &.tr {
    font-size: 1.3em;
    width: 1.4em;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 1.25em;
      height: .85em;
      top: .05em;
    }
  }
}

.icon.building { @include icon(url('./icons/building.svg'), 31, 37%, .2); }
.icon.space { @include icon(url('./icons/space.svg'), 26, 0%, .6, false, false, 70%); }
.icon.science { @include icon(url('./icons/science.svg'), 42, 0%, 0, true, 99%); }
.icon.earth { @include icon(url('./icons/earth.svg'), 330, 0%, .4, true, 90%, 101%, 10%); }
.icon.city { @include icon(url('./icons/city.svg'), 330, 0%, .2, true, 80%); }
.icon.animal { @include icon(url('./icons/animal.svg'), 103, 43%, .2, true); }
.icon.event { @include icon(url('./icons/event.svg'), 53, 100%, .1); }
.icon.jovian { @include icon(url('./icons/jovian.svg'), 330, 0%, .1, true, 90%, 101%, 15%); }
.icon.microbe { @include icon(url('./icons/microbe.svg'), 67, 62%, .05); }
.icon.power { @include icon(url('./icons/power.svg'), 307, 62%, .1, false, 40%); }
.icon.plant { @include icon(url('./icons/plant.svg'), 95, 65%, .1); }
.icon.titanium { @include icon(url('./icons/titanium.svg'), 26, 0%, .6, false); }
.icon.heat { @include icon(url('./icons/heat.svg'), 13, 82%, .2); }
.icon.steel { @include icon(url('./icons/steel.svg'), 30, 59%, .1); }
.icon.fighter { @include icon(url('./icons/fighter.svg'), 26, 0%, .6, false, 30%); }
.icon.tr {
  // @include icon(url('./icons/tr.svg'), 17, 90%, .1);
  background: linear-gradient(hsl(28,94%,65%) 60%, hsl(28,94%,65%));
  &:before {
    background: url('./icons/tr.svg') no-repeat center/85%,
      radial-gradient(ellipse at center,hsla(36,93%,58%,1) 0%,hsla(17,82%,49%,1) 100%);
    box-shadow: 0 -2.47em 0 -2em hsla(36,67%,4%,.1) inset;
  }
}

.mc {
  background: url('./icons/mc.svg') no-repeat center/100%;
  font-family: $title-font;

  .euro {
    font-weight: bold;
    color: rgba(246,136,7,.6);
    font-size: 1em;
    padding-right: .1em;
    vertical-align: text-top;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-stroke: .03em rgba(246,136,7,.8);
  }
}
.mc > .value {
  font-size: .5em;
  color: #222;
}

.oxygen {
  background: url('./icons/oxygen.svg') no-repeat center/100%;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: .02em solid #444;
}
.temperature {
  background: url('./icons/temperature.svg') no-repeat center/100%;
}

.restriction {
  font-size: .05em;
  display: inline-block;
  height: 100%;
  background: linear-gradient(to right, #ee8209 0%, #f5f30a 50%, #ee8209 100%);
  border: .05em solid black;
  margin: .05em;
  box-shadow: 0 0 0 .05em white;
  margin-right: .1em;
  display: flex;
  flex-direction: row;

  span {
    font-family: $title-font;
    white-space: nowrap;
    margin-right: .1em;

    .icon, .param, .tile {
      font-size: 1.5em;
      margin-top: -.07em;
      margin-left: .06em;
    }

    .param.temperature {
      font-size: 1.2em;
      margin-top: -.22em;
    }

    &:first-of-type {
      margin-left: .2em;
    }
    &:last-of-type {
      margin-right: .3em;
    }
  }

  .production {
    background: #444;
    padding: .3em;
    font-size: .75em;
    margin-top: -.2em;
  }

  &.max {
    background: linear-gradient(to right, #ee1918 0%, #f68807 50%, #ee1918 100%);
  }

  &:before {
    font-weight: bold;
    line-height: 1;
    content: '\00A6';
    margin: 0 -.05em;
  }
}

.table {
  display: table;

  .row {
    display: table-row;

    .cell {
      display: table-cell;
    }
  }
}

.resources {
  font-size: 2em;
  font-family: $title-font;
  margin-bottom: .2em;

  * {
    vertical-align: middle;
    margin: .1em;

    &.param.temperature {
      margin-left: .1em;
      margin-right: .1em;
      margin-bottom: -.1em;
      margin-top: -.1em;
    }
  }

  > :not(:first-of-type):not(.icon):not(.mc):not(.tile):not(.param) {
    margin-top: .5em;
  }

  > span:not(.arrow) {
    font-size: .7em;
  }

  .param.oxygen {
    font-size: 1.4em;
  }

  .sup {
    font-size: .5em;
    vertical-align: super;
  }

  .tile {
    font-size: 1.5em;
  }

  .production {
    font-size: 1em;
  }
}

.production {
  font-family: $title-font;
  background: linear-gradient(#555, #fff);
  padding: .2em;
  position: relative;
  display: inline-block;
  font-size: 2em;

  * {
    z-index: 1;
    vertical-align: middle;
    line-height: 1.2;
  }

  .icon, .mc {
    margin: .1em;
  }

  span {
    font-size: .7em;
  }

  &:before {
    display: block;
    content: '';;
    position: absolute;
    margin: .07em;
    background: url('./texture/production.svg') repeat top/.35em,
      linear-gradient(#805940, #a37144);
    border-image: linear-gradient(#AC7542, #573925) 1;
    border-width: .07em;
    border-style: solid;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.vp {
  color: black;
  font-size: .8em;
  font-family: $title-font;
  text-align: center;
  line-height: .9;
  width: 1em;
  height: 1em;
  background: url('./icons/mars.svg') no-repeat center/105%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 -2.47em 0 -2em hsla(330,0%,6%,.3) inset;
  border: .04em solid #666;
  display: flex;
  text-align: center;

  span {
    font-size: .3em;
    align-self: center;
    margin: 0 auto;

    &.point {
      font-size: 1.3em;
      -webkit-text-stroke: .02em #F9B000;
      vertical-align: middle;

      &.big {
        font-size: .8em;
      }
    }

    .tile {
      font-size: 1.5em;
      vertical-align: middle;
    }
    .tag {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }
}

.arrow {
  color: #d94c38;
  -webkit-text-stroke: .1em #d94c38;

  &:before {
    content: '\2192';
  }
}
