@font-face {
    font-family: Prototype;
    src: url('./components/assets/fonts/Prototype.ttf');
}

body {
  background-color: #444;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.center:not(.flex) {
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  &.center {
    justify-content: center;
  }
}
.inline-flex {
  display: inline-flex;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}
.col-4 {
  flex: 4;
}
.col-5 {
  flex: 5;
}
.col-6 {
  flex: 6;
}
.col-7 {
  flex: 7;
}
.col-8 {
  flex: 8;
}
.middle {
  align-self: center;
}
.bottom {
  align-self: flex-end;
}
.inline-block {
  display: inline-block;
}
.valign-top {
  vertical-align: top;
}
