$title-font: 'Prototype', sans-serif;

.gauge-wrapper {
  height: 280px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background: rgba(255,255,255,.3);
  position: relative;

  > .param {
    position: absolute;
    top: 0;
    font-size: 16px;
    z-index: 1;
  }

  &.maxed {
    opacity: .25;

    .gauge {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
    }
  }

  .gauge {
    background-size: 20px 340px;
    background-position: bottom;
    width: 100%;
    transition: height .3s ease;
    position: relative;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 9px;

    span {
      font-family: $title-font;
      position: absolute;
      border-top: 1px solid white;
      color: white;
      font-size: 14px;
      top: 0;
      z-index: 2;
    }
  }

  .bonus {
    line-height: 0;
    position: absolute;
    border: 1px solid black;
    padding: 2px;
    background-color: #aaa;

    &.met {
      opacity: .25;
    }

    > .production {
      font-size: 15px;
      min-height: unset;
      padding: .1em;

      .icon {
        border: none;
      }
    }

    > .tile {
      font-size: 21px;
      margin-right: -2px;
    }

    > .param {
      font-size: 17px;
      margin: 0 2px;
    }

    &:after {
      content: attr(data-content);
      border-top: 1px solid black;
      font-family: $title-font;
      position: absolute;
      top: -1px;
      font-size: 10px;
      line-height: 1;
      text-align: center;
      width: 18px;
    }
  }

  .tick {
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.2);
  }
}