.oxygen-wrapper {
  margin-left: 8px;
  margin-right: 2px;

  .param {
    margin: 10px 1px;
  }

  .oxygen-gauge {
    background-image: linear-gradient(to top, rgba(0,0,0,.1),rgba(180,140,94,1),rgba(147,207,244,1));

    span {
      padding-right: 24px;
      right: 0;
    }
  }

  .bonus {
    right: 23px;

    &:after {
      padding-left: 8px;
      padding-right: 1px;
    }
  }
}